@font-face {
  font-family: 'Arb';
  src: url(/public/font/NotoKufiArabic-Light.ttf);
}

.App {
  width: 60%;
  margin: auto;
  text-align: center;
  direction: rtl;
  position: relative;
}

.cardToDo,
.icons {
  transition: all 0.3s ease-in-out !important;
}

.icons:hover {
  background-color: rgb(221, 221, 221) !important;
}

.cardToDo:hover {
  transform: translateX(9px);
  border-inline-end: 3px solid #c51162;
}

/* media */
@media (max-width: 600px) {
  .App {
    width: 100%;
  }
  .inputs{
    width: 100% !important;
  }
}
